.card {
    display: inline-flex;
    height:auto;
}
.star{
    height: 80px;
}
.scrolling-wrapper{
	overflow-x: auto;
}
.tarjetitas{
    display: flex;
    margin: auto;
    width: 70%;
    height: auto;
}

h1{
    color: red;
    width: 69%;
    margin: auto;
    margin-top: 30px;

}

.danger{
    
    margin-left: 90px;
}
.botonsito {
    margin-left: 30px;
}